.mgmt-container {
    margin:0;
    padding:0 !important;
    left:0;
    right:0;
}
nav .brand-logo{
    left: 50%;
    transform: translateX(-50%);
}

nav {
    background-color: #26a69a;
}

.post-service-error-toast {
    color: red;
}