.no-padding{
    padding: 0;
}

.no-padding:first-of-type div {
    display: inline;
}

.side-nav .no-padding:hover{
    background-color: rgba(0,0,0,0.00);
}

.side-nav {
    width: 25%;
    min-width: 300px;
}

.mgmt-dapp-organisation-active{
    font-weight: bold;
}

.mgmt-organisations-navitem-align-right{
    right: 5%;
    position: absolute;
    display: inline;
    color: grey;
}